html {
  overflow-y: scroll;
}
body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}
p {
  font-size: 16px;
}
.margin {
  margin-bottom: 45px;
}
.footer {
  background-color: #546E7A;
  color: #ffffff;
  padding: 50px 50px;
  font-size: 16px;
  font-family: muli;
}
.footer a {
  color: white;
  cursor: pointer;
}
.footer a:hover {
  color: #E0E0E0;
  text-decoration: none;
}
.row {
  padding-top: 150px;
  padding-bottom: 150px;
}
@media (max-width: 768px) {
  .row {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav li a:hover {
  color: #1abc9c !important;
}
.navbar-brand {
  cursor: pointer;
}
.main-background {
  background: #D8D8D8;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #D8D8D8, #787878);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #D8D8D8, #787878);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #D8D8D8, #787878);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #D8D8D8, #787878);
  /* Standard syntax */
}
.main-row-1 {
  font-family: muli;
  background-color: #263238;
  box-shadow: 0 3px 2px 0 rgba(54, 70, 79, 0.59);
}
.custom-hr {
  height: 1px;
  background-color: #E0E0E0;
}
.main-inner-div {
  font-size: 72px;
  text-align: left;
  line-height: 90px;
  color: #e0e0e0;
  vertical-align: middle;
}
@media (max-width: 768px) {
  .main-inner-div {
    font-size: 56px;
  }
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.main-row-2 {
  background-color: #EEEEEE;
}
.main-inner-div-2 {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}
.main-inner-div-2 div {
  padding: 25px 0px;
}
.read-button {
  background-color: #2196f3;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #9b9b9b;
  color: white;
  padding: 10px 25px;
  font-size: 20px;
  font-family: muli;
}
.read-button:hover {
  background-color: #1976D2;
  color: white;
}
.main-row-3 {
  padding-left: 200px;
  padding-right: 200px;
  background-color: #263238;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.5);
}
@media (max-width: 768px) {
  .main-row-3 {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.main-inner-div-3 {
  line-height: 35px;
}
.main-inner-div-3 h3 {
  color: white;
  font-family: muli;
}
.main-inner-div-3 p {
  font-size: 16px;
  text-align: center;
  color: white;
}
.main-inner-div-3 p a {
  color: #2196f3;
}
.main-inner-div-3 p a:hover {
  color: #1976D2;
  text-decoration: none;
}
.about-page {
  text-align: left;
  font-weight: 300;
}
.about-page p {
  font-size: 16px;
  line-height: 30px;
}
.about-page h1 {
  font-size: 36px;
}
.about-row-1 {
  background-color: #D8D8D8;
  color: #000000;
}
.about-inner-row-1 {
  vertical-align: middle;
}
.about-inner-row-1 hr {
  height: 1px;
  background-color: #000000;
}
.about-row-2 {
  background-color: #282828;
  color: #FFFFFF;
}
.about-inner-row-2 {
  vertical-align: middle;
}
.about-inner-row-2 hr {
  height: 1px;
  background-color: #FFFFFF;
}
.read-arrow {
  font-size: 25px;
}
.error-page-row-1 {
  background-color: #455A64;
  padding: 200px 0px;
}
.custom-button {
  cursor: pointer;
  cursor: hand;
  font-size: 20px;
  padding: 20px 20px 0px 0px;
}
.custom-button:hover {
  text-decoration: none;
}
.about-background {
  background: #B8B8B8 ;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #606060, #909090);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #606060, #909090);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #606060, #909090);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #606060, #909090);
  /* Standard syntax */
}
.error-background {
  background: #B8B8B8 ;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #606060, #909090);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #606060, #909090);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #606060, #909090);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #606060, #909090);
  /* Standard syntax */
}
.main-outer-div {
  height: 600px;
  display: table;
}
.main-image {
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
.passage-text > p {
  font-size: inherit;
}
.dropdown-menu > li > a {
  color: inherit;
}
.ui-select-search {
  max-width: 100% !important;
}
