<div ng-controller="Main-Controller as vm" data-ng-init="vm.init()">

    <div class="row main-row-1">
      <div class="col-sm-12 text-center">
        <div class="main-inner-div vcenter">
          The<br>Minimalist<br>Bible
          <hr class="custom-hr">
        </div>
      </div>
    </div>

    <div class="row main-row-2">
      <div class="col-sm-12 text-center">
        <div class="main-inner-div-2 vcenter">
          <div>The simple, online Bible-reading application with
            <span id="content-1"> no adds</span>
            <span id="content-2"> no passwords</span>
            <span id="content-3"> no distractions</span>
            <span id="content-4"> no logins</span>
            <span id="content-5"> no 30-day free trial</span>
          </div>

          <div>Just the Bible</div>
          <div><a href="/read/auto" type="button" class="btn read-button">Start Reading</a></div>
        </div>
      </div>
    </div>



    <!-- Row-3 (Book List) -->

    <div class="row main-row-3 text-center">
      <div class="col-sm-12">
        <div class="main-inner-div-3 vcenter">
          <h3> &middot; Old Testament &middot; </h3>
          <p> &middot; <span ng-repeat="book in vm.oldTest"> <a href="/read/{{book}}/1"> {{book}} </a> &middot; </span> </p>
          <div style="padding: 30px 0px;"></div>
          <h3> &middot; New Testament &middot; </h3>
          <p> &middot; <span ng-repeat="book in vm.newTest"> <a href="/read/{{book}}/1"> {{book}} </a> &middot; </span> </p>
        </div>
      </div>
    </div>
