<div ng-controller="Read-Controller as vm" data-ng-init="vm.init()">

  <!-- Read main area -->
  <div ng-style="vm.background" class="row text-center read-background">

    <div class="row">
    <div align="left" class="col-sm-6">
      <!-- Possibily replace with mouseover later -->

      <a class="glyphicon glyphicon-search" ng-click="vm.searchExpanded = !vm.searchExpanded" style="cursor: pointer; cursor: hand; padding: 20px 20px 0px 0px; "></a>

      <ui-select on-select="vm.countChapters()" ng-change="vm.countChapters" ng-show="vm.searchExpanded" style="display: inline-block; width: 175px !important; top: 6px" ng-model="vm.bookSelected">
          <ui-select-match placeholder="book" style="width: 175px !important">
              <span ng-bind="$select.selected.name"></span>
          </ui-select-match>
          <ui-select-choices style="width: 175px !important" repeat="book in (vm.bookList | filter: $select.search)">
              <span ng-bind="book.name"></span>
          </ui-select-choices>
      </ui-select>

      <ui-select on-select="vm.changeChapters()" ng-show="vm.searchExpanded" style="display: inline-block; width: 65px !important; top: 6px" ng-model="vm.chapterSelected">
          <ui-select-match placeholder="ch." style="width: inherit">
              <span ng-bind="$select.selected.value"></span>
          </ui-select-match>
          <ui-select-choices style="width: inherit" repeat="chapter in (vm.chapterList | filter: $select.search)">
              <span ng-bind="chapter.value"></span>
          </ui-select-choices>
      </ui-select>

    </div>

    <!-- SETTINGS -->
    <div align="right" class-"col-sm-6">
      <div class="btn-group" ng-show="vm.settingsExpanded">
        <button type="button" ng-style="vm.optionButton" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Text: {{vm.p.name}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" ng-style="vm.optionButton">
          <li><a ng-click="vm.textSize='Small'; vm.changeTextSize('Small','12px')">Small</a></li>
          <li><a ng-click="vm.textSize='Medium';vm.changeTextSize('Medium','16px')">Medium</a></li>
          <li><a style="color: inherit" ng-click="vm.textSize='Large'; vm.changeTextSize('Large','30px')">Large</a></li>
        </ul>
      </div>

      <div class="btn-group" ng-show="vm.settingsExpanded">
        <button type="button" ng-style="vm.optionButton" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Background: {{vm.background.name}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" ng-style="vm.optionButton">
          <li><a ng-click="vm.changeBackground('Sepia', '#fcf1d7', '#614b30')";>Sepia</a></li>
          <li><a ng-click="vm.changeBackground('Gray', '#d8d8d8', 'black')">Gray</a></li>
          <li><a ng-click="vm.changeBackground('White', '#ffffff', '#000000')">White</a></li>
          <li><a ng-click="vm.changeBackground('Black', '#000000', '#ffffff')">Black</a></li>
        </ul>
      </div>

      <!-- <div class="btn-group" ng-show="vm.settingsExpanded">
        <button type="button" style="background: transparent" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Version: {{vm.version}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" style="background: transparent">
          <li><a ng-click="vm.backgroundColor='Sepia'";>ESV</a></li>
          <li><a ng-click="vm.backgroundColor='Gray Scale';">King James</a></li>
          <li><a ng-click="vm.backgroundColor='White';">NET</a></li>
        </ul>
      </div> -->

      <!-- Settings Icon -->
      <a class="glyphicon glyphicon-cog" ng-click="vm.settingsExpanded = !vm.settingsExpanded" style="cursor: pointer; cursor: hand; padding: 20px 20px 0px 0px; "></a>
      <!-- Fullscreen Icon -->
      <a class="glyphicon glyphicon-fullscreen" ng-click="vm.toggleFullScreen()" ng-show="!vm.fullScreen" style="cursor: pointer; cursor: hand; padding: 20px 20px 0px 0px; "></a>
      <a class="glyphicon glyphicon-resize-small " ng-click="vm.toggleFullScreen()" ng-show="vm.fullScreen" style="cursor: pointer; cursor: hand; padding: 20px 20px 0px 0px; "></a>

    </div>
    <!-- END SETTINGS -->
  </div>

    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center main-outer-div">
      <div class="main-inner-div" style="padding: 50px">
        <a ng-hide="vm.book === 'Genesis' && vm.chapter === 1" ng-click="vm.prev()" style="padding: 15px; text-decoration: none" class="glyphicon glyphicon-chevron-left"> </a>
        <big ng-style="vm.big">{{vm.book}} {{vm.chapter}}</big>
        <a ng-hide="vm.book === 'Revelation' && vm.chapter === 22" ng-click="vm.next()" style="padding: 15px; text-decoration: none" class="glyphicon glyphicon-chevron-right"> </a>

        <p class="passage-text" ng-bind-html="vm.passage" style="text-align: justify;" ng-style="vm.p">
        </p>

        <a ng-click="vm.prev()" style="padding: 15px; text-decoration: none" class="glyphicon glyphicon-chevron-left"> </a>
        <a ng-click="vm.next()" style="padding: 15px; text-decoration: none" class="glyphicon glyphicon-chevron-right"> </a>

      </div>
    </div>
  </div>
</div>
